<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_left">
                        <p>I am Rahul Maheshwari</p>
                        <h3>Sophomore at <span class="textcolor">NITK Surathkal</span> in Chemical Engineering</h3>
                        <div class="medias"> <a href="https://www.linkedin.com/in/rahul-maheshwari-b2780a1b0/?fbclid=IwAR0TrHCqE3Q7LYCscwXJiGAQaTDXpywdLmFKY01lJ57MHZu2Vdsml1t-m4s"
                                target="_blank"><button>Linkedin</button></a>
                            <a href="https://www.instagram.com/i_m__rahul_27/?fbclid=IwAR2sEHB5DleYnjyfuU09uv8JZ6gUIQ_jyPaskMOcxtSkBzjiM3m_BzgRm8o"
                                target="_blank"><button>Instagram</button></a>
                            <a href="https://www.facebook.com/rahul.maheshwari.7967747"
                                target="_blank"><button>Facebook</button></a>
                        </div>
                    </div>
                      <div class="col-md-6 col-12 main_header_right">

                            <figure><img src="images/about.jpg" alt="Rahul Image" class="img-fluid"
                                    title="Rahul Maheshwari"></figure>
                        </div>

                </div>
            </div>
            <!-- footer code  -->
        </div>
    </div>
    </div>
    {{>footer}}


</body>

</html>