<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityname"
                            placeholder="Enter Your City Name(avoid Villages & towns)" autocomplete="off">
                        <input type="Submit" value="search" id="submitbutton">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day"></p>
                        <p id="today_date"></p>


                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Your Output Here :)</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real"></span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer code  -->

    </div>
    </div>

    {{>footer}}
    <script src="js/main.js"></script>
    <script>

        const getcurrentday = () => {
            let time = new Date();
            let days = time.toLocaleDateString();
            let todaydate = time.toLocaleTimeString();

            let day = document.getElementById('day')
            let today_dates = document.getElementById('today_date')

            day.innerText = days;
            today_dates.innerText = todaydate;


        };
        getcurrentday();
    </script>
</body>

</html>